@import url("styles/style.css");
@import url("styles/fonts.css");

/* Hero component */

.hero{
    margin: 0rem 1rem 1rem 1rem;
    grid-template-columns: 50% 50%;
}

.hero-cta-sm{
    border: 1px solid #edecec;
    border-radius: 2rem;
    background-color: #edecec;
    font-size: 1rem;
    color: var(--text-btn);
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 8px;
    cursor: pointer; 
}


.hero-cta, .hero-cta-sm:hover{
    background-color: #d7d6d5;
}

/* Large image */

.img-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 1rem;
}

.large-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.large-img-secondary{
    position: absolute;
    z-index: 10;
    top: 55%;
    left: 64%;
    transform: translate(-80%, -80%);
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: 128px;
    border-radius: 8px;
}

/* Partner tiles */
.partners-tileslist{
    gap: 8px;
    margin-left: 8px;
    margin-right: 8px;
}


.tile-partners {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1b1913;
    background-color: #1b1913;
    width: 200px;
    height: 100px;
    border-radius: 8px;
}

.partners-logo{
    object-fit: contain;
    width: 100px;
    height: 50px;
}

/* Text Media */

.text-media{
    border: 1px solid #1b1913;
    background-color: #1b1913;
    padding: 16px;
    cursor: pointer;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 8px;
    gap: 16px;
}

.text-media:hover{
    background-color: #1a1917;
}

.text-media-content{
    margin: auto;
    
}

.text-media-img{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border-radius: 8px;
}

.media-img{
    object-fit: contain;
}

#code2{
    position: absolute;
    z-index: 10; 
    transform: translate(-80%, -80%);
    object-fit: contain;
    top: 75%;
    left: 78%;
    width: 90%;
    height: 90%;
}

#code3{
    position: absolute;
    z-index: 10; 
    transform: translate(-80%, -80%);
    object-fit: contain;
    top: 75%;
    left: 77%;
    width: 90%;
    height: 90%; 
}

#code4{
    position: absolute;
    z-index: 10; 
    transform: translate(-80%, -80%);
    object-fit: contain;
    top: 65%;
    left: 69%;
    width: 80%;
    height: 80%;
}

#code5{
    position: absolute;
    z-index: 10; 
    transform: translate(-70%, -70%);
    object-fit: contain;
    top: 84%;
    left: 72%;
    width: 80%;
    height: 80%;
}

/* Testimonials tiles */

.testimonials-tileslist{
    gap: 16px;
}

.testimonial-tile{
    border: 1px solid #1b1913;
    background-color: #1b1913;
    padding: 16px;
    width: 33.3%;
    height: 245px;
    border-radius: 8px;
}

.quote{
    padding: 8px;
}

/* Cards */
.featured-cards{
    gap: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.card{
    border: 1px solid #1b1913;
    background-color: #1b1913;
    width: 33.3%;
    padding: 16px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.card:hover{
    background-color: #1a1917;
}

.card-img{
    margin-top: 32px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    cursor: pointer;
}

/* Stats tiles */

.stats-tiles{
    gap: 16px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.stat-tile{
    border: 1px solid #1b1913;
    background-color: #1b1913;  
    width: 25%;
    padding: 16px;
    border-radius: 8px;
}


/* Highlights */

.highlights{
    padding: 8px;
}

.highlights-tileslist{
    gap: 16px;
}

.highlights-tile{
    border: 1px solid #221f19;
    background-color: #221f19;
    width: 65%; 
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.highlights-tile:hover{
    background-color: #25221c;
}