@import url("styles/style.css");
@import url("styles/fonts.css");

.footer-top{
    padding: 32px;
    gap: 150px;
}

.footer-center{
    gap: 150px;
}

.footer-list{
    gap: 64px;
}

.footer-link{
    padding: 8px;
}

.footer-bottom{
    padding: 32px;
}

#selected{
    background-color: #5e5454;
    border: 2px solid #5e5454;
    border-radius: 8px;
    padding: 2px;
}

.unselected{
    padding: 6px;
}